* {
  font-family: "jetbrains mono", monospace;
}

window {
  background-color: #181825;
}

#input {
  background-color: #181825;
  border-radius: 0px;
  color: #f0bee3;
  border-bottom: 4px solid #c3a0ed;
}

#outer-box {
  border: 4px solid #c3a0ed;
}

#text {
  padding: 4px;
  color: #f0bee3;
}

#entry:nth-child(even) {
  background-color: #1e1e2e;
}

#entry:selected {
  outline: none;
  background-color: #45475a;
}
