* {
  font-family: "jetbrains mono";
  font-size: 14px;
  color: #f5c2e7;
  font-weight: 500;
}

window#waybar {
  border-bottom: 4px solid #cba6f7;
  background: #181825;
}

#workspaces button {
  border-radius: 0;
}

#workspaces button.active {
  background: #cba6f7;
}

#workspaces button label {
  background: none;
  color: #cba6f7;
}

#workspaces button:hover label {
  color: #11111b;
}

#workspaces button.active label {
  color: #11111b;
}

#clock,
#pulseaudio,
#network,
#window,
#tray,
#notifications-bell {
  padding: 0 14px;
}

#tray menu {
  background: #181825;
}

#tray {
  border-bottom: 4px solid #f38ba8;
}

#clock {
  margin: 0;
  color: #f9e2af;
  border-bottom: 4px solid #f9e2af;
}

#network {
  color: #89b4fa;
  border-bottom: 4px solid #89b4fa;
}

#network.disconnected {
  color: #f38ba8;
  border-bottom: 4px solid #f38ba8;
}

#pulseaudio {
  color: #94e2d5;
  border-bottom: 4px solid #94e2d5;
}

#pulseaudio.muted {
  padding: 0 29px;
  color: #f38ba8;
  border-bottom: 4px solid #f38ba8;
}

#custom-recording {
  color: #f38ba8;
}