/* Taken from: https://pastebin.com/u0h3d8dy */
@import url('https://fonts.googleapis.com/css2?family=monospace:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 58, 81, 93;
  /* #374145  */
  --accentcolor2: 214, 153, 182;
  /* #DF69BA  */
  --linkcolor: 127, 187, 179;
  /* #3A94C5  */
  --mentioncolor: 219, 188, 127;
  /* #DFA000  */
  --textbrightest: 211, 198, 170;
  /* #E5E6C5  */
  --textbrighter: 211, 198, 170;
  /* #E5E6C5  */
  --textbright: 211, 198, 170;
  /* #E5E6C5  */
  --textdark: 157, 169, 160;
  /* #939F91  */
  --textdarker: 133, 146, 137;
  /* #829181  */
  --textdarkest: 122, 132, 120;
  /* #A6B0A0  */
  --font: "Adwaita Sans";
  --backgroundaccent: 79, 88, 94;
  /* #495156  */
  --backgroundprimary: 71, 82, 88;
  /* #475258  */
  --backgroundsecondary: 61, 72, 77;
  /* #3D484D  */
  --backgroundsecondaryalt: 52, 63, 68;
  /* #34414A  */
  --backgroundtertiary: 45, 53, 61;
  /* #2D353B  */
  --backgroundfloating: 35, 42, 46;
  /* #232A2E  */
  --settingsicons: 1;
}

:root {
  --backgroundaccent: 79, 88, 94;
  --backgroundprimary: 30, 35, 38;
  --backgroundsecondary: 39, 46, 51;
  --backgroundsecondaryalt: 46, 56, 60;
  --backgroundtertiary: 46, 56, 60;
  --backgroundfloating: 39, 46, 51;
  --green: #a7c080;
  --green-360: #a7c080;
  --red: #e67e80;
  --yellow: #dbbc7f;
  --blue: #7fbbb3;
  --offline: #9da9a0;
  --black: #1e2326
}

[class*="folder_"] {
  background-color: var(--green) !important;
}

.da-circleIconButton,
div[class*="circleIconButton"]:hover {
  color: var(--black);
}

.themedBackground__6b1b6 {
  background-color: #2D353B;
}

/* User Status */

.da-avatar .da-wrapper[aria-label$="Online"]>svg>svg>rect,
.da-status[aria-label="Online"]>svg>rect,
div[class*="avatar"] div[aria-label$="Online"]>svg>svg>rect,
div[class*="status"][aria-label="Online"]>svg>rect,
rect[mask="url(#svg-mask-status-online)"],

.da-avatar .da-wrapper[aria-label$="mobile"]>svg>svg>rect,
.da-status[aria-label="mobile"]>svg>rect,
div[class*="avatar"] div[aria-label$="mobile"]>svg>svg>rect,
div[class*="status"][aria-label$="mobile"]>svg>rect,
rect[mask="url(#svg-mask-status-online-mobile)"] {
  fill: var(--green);
}

.da-status[style="background-color: rgb(67, 181, 129);"],
div[class*="status"][style="background-color: rgb(67, 181, 129);"] {
  background-color: var(--green) !important;
}


.da-avatar .da-wrapper[aria-label$="Do Not Disturb"]>svg>svg>rect,
.da-status[aria-label="Do Not Disturb"]>svg>rect,
div[class*="avatar"] div[aria-label$="Do Not Disturb"]>svg>svg>rect,
div[class*="status"][aria-label="Do Not Disturb"]>svg>rect,
rect[mask="url(#svg-mask-status-dnd)"] {
  fill: var(--red);
}

.da-status[style="background-color: rgb(240, 71, 71);"],
div[class*="status"][style="background-color: rgb(240, 71, 71);"] {
  background-color: var(--red) !important;
}

.da-avatar .da-wrapper[aria-label$="Streaming"]>svg>svg>rect,
.da-status[aria-label="Streaming"]>svg>rect,
div[class*="avatar"] div[aria-label$="Streaming"]>svg>svg>rect,
div[class*="status"][aria-label="Streaming"]>svg>rect,
rect[mask="url(#svg-mask-status-streaming)"] {
  fill: var(--blue);
}

.da-status[style="background-color: rgb(89, 54, 149);"],
div[class*="status"][style="background-color: rgb(89, 54, 149);"] {
  background-color: var(--blue) !important;
}

.da-avatar .da-wrapper[aria-label$="Idle"]>svg>svg>rect,
.da-status[aria-label="Idle"]>svg>rect,
div[class*="avatar"] div[aria-label$="Idle"]>svg>svg>rect,
div[class*="status"][aria-label="Idle"]>svg>rect,
rect[mask="url(#svg-mask-status-idle)"] {
  fill: var(--yellow);
}

.da-status[style="background-color: rgb(250, 166, 26);"],
div[class*="status"][style="background-color: rgb(250, 166, 26);"] {
  background-color: var(--yellow) !important;
}

.da-avatar .da-wrapper[aria-label$="Invisible"]>svg>svg>rect,
div[class*="avatar"] div[aria-label$="Invisible"]>svg>svg>rect,
div[class*="status"][aria-label="Invisible"]>svg>rect,
rect[mask="url(#svg-mask-status-invisible)"],

.da-avatar .da-wrapper[aria-label$="Offline"]>svg>svg>rect,
div[class*="avatar"] div[aria-label$="Offline"]>svg>svg>rect,
div[class*="status"][aria-label="Offline"]>svg>rect,
rect[mask="url(#svg-mask-status-offline)"] {
  fill: var(--offline);
}

/* button */
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 {
  background-color: var(--green);
  color: var(--black);
}