headerbar {
  margin: 0;
  padding: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
}

tabbar tabbox tab label {
  font-size: 12px;
  font-family: "CaskaydiaMono Nerd Font";
}
