/* 
 Collection of small css that I found that remove the awful shit UI decisions by discord
 */

.bar_c38106 {
    display: none;
}

:root {
    --custom-app-top-bar-height: 10px;
}

[class*="membersGroup"]:has([role=button]),
[class*="member"] [class*="container"]:has([class*="badges"]) {
    display: none;
}