name: Test flake
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix flake check
